include LICENSE
include README.rst

recursive-include djangocalendar/templates *
recursive-include djangocalendar/templatetags *

recursive-exclude * __pycache__
recursive-exclude * __pycache__
recursive-exclude * *.dat
recursive-exclude * *.py[co]
recursive-exclude * empty
recursive-exclude * .idea
recursive-exclude * .gitignore
